openapi: 3.2.0
info:
  description: This is the documentation of the Notification System. Add text explaining each object.
  version: 1.0.0
  title: Notification System Alert API
  license:
    name: Copyright © 2012-26 by Hildebrand Technology Limited
servers:
- url: https://api.glowmarkt.com/api/v0-1/ns
tags:
- name: alert
  description: An application can send an alert to a customer across multiple channels (email, push, inbox) which will convey some type of specific message (defined by the alert type).
paths:
  /alert:
    post:
      tags:
      - alert
      summary: Send an alert
      description: Send an alert to a user
      operationId: sendAlert
      security:
      - appKeys: []
      - orgAppKeys: []
        applicationId: []
      - devUserToken: []
        applicationId: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingElementsError'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertReq'
        description: The information required to send an alert.
  /alert/{alertId}:
    get:
      tags:
      - alert
      summary: Get an alert by Id
      description: Get an alert by Id
      operationId: findAlertById
      parameters:
      - name: alertId
        in: path
        description: ID of alert that is being queried
        required: true
        schema:
          type: string
      security:
      - appKeys: []
      - orgAppKeys: []
        applicationId: []
      - devUserToken: []
        applicationId: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingElementsError'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  /alert/user:
    get:
      tags:
      - alert
      summary: Get the alerts sent to a user
      description: Get the alerts sent to a user
      operationId: findAlertsOfUser
      security:
      - appKeys: []
      - orgAppKeys: []
        applicationId: []
      - devUserToken: []
        applicationId: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissingElementsError'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    Alert:
      allOf:
      - $ref: '#/components/schemas/AlertReq'
      - properties:
          ns_alert_id:
            type: string
            example: 2cd8ddcc-3eb1-489d-b204-450e0887d0d8
    InternalServerError:
      type: object
      properties:
        error:
          type: string
          example: An error has occurred
    AlertRes:
      type: object
      properties:
        ns_alert_id:
          type: string
          example: 2cd8ddcc-3eb1-489d-b204-450e0887d0d8
        status:
          type: string
          example: OK
      xml:
        name: AlertRes
    AccessDeniedError:
      type: object
      properties:
        error:
          type: string
          example: Access denied
    AlertReq:
      type: object
      properties:
        userId:
          type: string
          example: 69f464fa-bca2-4f2a-83b1-0c69819c5cd0
        alertTypeId:
          type: string
          example: CM01
        send2Inbox:
          type: string
          example: 'yes'
          enum:
          - 'yes'
          - 'no'
        send2Push:
          type: string
          example: 'yes'
          enum:
          - 'yes'
          - 'no'
        email:
          type: string
          example: 'yes'
          enum:
          - 'yes'
          - 'no'
        inbox:
          type: string
          example: 'yes'
          enum:
          - 'yes'
          - 'no'
        push:
          type: string
          example: 'yes'
          enum:
          - 'yes'
          - 'no'
        Priority:
          type: string
          example: High
          enum:
          - High
          - Low
        callbackUrl:
          type: string
          example: https://api.glowmarkt.com/api/v0-1/test
        dataToFill:
          type: object
      xml:
        name: AlertReq
    MissingElementsError:
      type: object
      properties:
        error:
          type: string
          example: missing elements
  securitySchemes:
    orgAppKeys:
      type: http
      scheme: basic
    appKeys:
      type: http
      scheme: basic
    devUserToken:
      type: apiKey
      name: token
      in: header
    userToken:
      type: apiKey
      name: token
      in: header
    applicationId:
      type: apiKey
      name: applicationId
      in: header
    organizationId:
      type: apiKey
      name: organizationId
      in: header
externalDocs:
  description: Find out more about Glowmarkt
  url: https://glowmarkt.com/
