openapi: 3.2.0
info:
  description: API definition for CRUD operations on devices.
  version: 1.1.0
  title: Device Management System Discover API
  license:
    name: Copyright © 2012-26 by Hildebrand Technology Limited
servers:
- url: https://api.glowmarkt.com/api/v0-1/
tags:
- name: Discover
paths:
  /discover/{hardwareId}:
    get:
      tags:
      - Discover
      summary: Find device by ID
      description: Returns the devices and if they do not exist the assets and product types
      operationId: discoverDevicesAssets
      parameters:
      - name: hardwareId
        in: path
        description: A hardware identifier of a Device. For a network device, we typically use the MAC address.
        required: true
        schema:
          type: string
      security:
      - userToken: []
        applicationId: []
      - appKeys: []
        userId: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ''
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: ''
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerError'
components:
  schemas:
    ServerError:
      type: object
      properties:
        error:
          type: string
          example: An error has occurred
      xml:
        name: AddResourceError
  securitySchemes:
    orgAppKeys:
      type: http
      scheme: basic
    appKeys:
      type: http
      scheme: basic
    devUserToken:
      type: apiKey
      name: token
      in: header
    userToken:
      type: apiKey
      name: token
      in: header
    applicationId:
      type: apiKey
      name: applicationId
      in: header
    userId:
      type: apiKey
      name: userId
      in: header
